*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title-wrapper {
  margin: 10rem 3rem;
}

.title {
  font-size: 10rem;
  color: hsla(0,0%,100%,.08);
  
  -webkit-background-clip: text;
  background-image: radial-gradient(closest-side, #ffffff 100%, transparent 0);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 400px 400px;
  
  transition: all .7s cubic-bezier(.19,1,.22,1);
  
}