@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  /* background-color: #242424; */
  background-color: #000000;
}

/* .card {
    @apply bg-gray-800 text-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl;
}
   */
.card {
  @apply bg-white bg-opacity-10 backdrop-blur-lg border border-white border-opacity-20 rounded-lg shadow-md transition-all duration-300 ease-in-out;
}

.card:hover {
  @apply bg-gradient-to-r from-gray-400 via-gray-500 to-gray-600 shadow-lg;
}


/* @keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  45% {
    transform: translateX(-50%);
  }
  55% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* @keyframes marqueeReverse {
  0% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-50%);
  }
  55% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee var(--duration, 10s) linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  animation: marqueeReverse var(--duration, 10s) linear infinite;
}
 */




/*  
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* .animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
} */

/* .animate-marquee-mobile {
  display: flex;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
} */


/* 
.marquee2 {
  animation: marquee 8s linear infinite
} */

/* .animate-marquee-brand {
  display: flex;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
 */







/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #000000;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(270deg, #211D31, #211D31, #211D31);
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

body {
  @apply bg-gradient-animated;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-color: #000000;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(270deg, #00062A, #0D1117, #161722);
  background-size: 600% 600%;
  animation: gradient 5s ease infinite;
}

body {
  @apply bg-gradient-animated;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
